{% extends "layout.html" %} {% block scripts %}
<script src="/static/playground.js" defer></script>
{% endblock %} {% block main %}
<h1>Playground</h1>

<div class="container">
  <div class="left-half">
    <h2><label for="modelSelect">Choose Model</label></h2>
    <select id="modelSelect">
      {% for model in config['models'] %}
      <option value="{{model.name}}">{{model.name}}</option>
      {% endfor %}
    </select>
    <details>
      <summary>Generation parameters</summary>
      <label
        >Max tokens<input id="maxTokens" type="number" value="128"
      /></label>
    </details>
  </div>
  <div id="promptReq" class="right-half"></div>
</div>

<!--INVISIBLE select box to populate prompts and keep track of them-->
<select id="prompts">
  {% for model in config['models'] %}
  <option value="{{model.prompts}}">{{model.prompts}}</option>
  {% endfor %}
</select>

<h2><label for="input">Prompt</label></h2>
<!-- Do not indent the contents of the textarea. -->
<textarea id="input" name="input" autofocus disabled>
Waiting for models to load on the server...
Visit the status page for more information on model loading progress.
</textarea>

<input id="submitButton" type="button" value="Submit" disabled />

<h2>
  Response
  <div id="loadingSpinner" class="spinner-hidden"></div>
</h2>
<div id="outputResponse"></div>
{% endblock %}
