/* Applies a common box-sizing model to all elements and defines the overall layout, styling, and responsiveness of the web page. */
/* Styling for HTML, body, main, footer, headings, form elements, and navigation, including hover and focus effects for interactive elements. */

* {
  box-sizing: border-box;
}

html {
  background-color: #e4e4e4;
  height: 100vh;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 768px;
  max-width: 100%;
  min-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main,
footer {
  padding: 0.5em 0.7em;
}

main {
  flex-grow: 1;
}

footer {
  border-top: 2px solid;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

*:focus {
  outline-color: blue;
}

input[type='button'],
input[type='submit'] {
  background: white;
  border: 2px solid;
  font-weight: bold;
  margin: 0.2em;
  padding: 0.2em 0.7em;
  border-radius: 6px;
}

input[type='button']:not(:disabled):hover,
input[type='submit']:not(:disabled):hover {
  background: #f4f4f4;
}
input[type='button']:not(:disabled):active,
input[type='submit']:not(:disabled):active {
  background: #999999;
}
input[type='button']:focus,
input[type='submit']:focus {
  outline-offset: 3px;
}

textarea {
  width: 100%;
  resize: none;
  min-height: 5em;
  display: block;
}

textarea,
input {
  font: inherit;
}

nav {
  background-color: #ccc;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul > li {
  float: left;
}

nav ul > li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav ul > li a:hover {
  background-color: #eee;
}

nav ul > li a.nav-active {
  font-weight: bold;
}

.body_logo {
  float: right;
  width: 30px;
  height: 30px;
  margin: 10px;
}
