<!doctype html>
<html>
  <head>
    <title>Inferential</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="static/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon-16x16.png"
    />
    <link rel="icon" href="favicon.ico" />
    <meta name="theme-color" content="#00ff00" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="/static/data.js" defer></script>
  </head>

  <body>
    <main>
      <h1>Inferential</h1>
      <div class="left">
        <label class="left" for="models">Models:</label>
        <select id="models">
          <option value="Llama-2-7B-Chat-GGUF">
            Llama-2-7B-Chat-GGUF
          </option>
          <option value="LaMini-Flan-T5-783M-ct2-int8">
            LaMini-Flan-T5-783M-ct2-int8
          </option>
          <option value="Llama-2-7B-Chat-GGML">
            Llama-2-7B-Chat-GGML
          </option>
          <option value="Nous-Capybara-7B-v1.9-GGUF">
            Nous-Capybara-7B-v1.9-GGUF
          </option>
          <option value="TinyLlama-1.1B-1T-OpenOrca-GGUF">
            TinyLlama-1.1B-1T-OpenOrca-GGUF
          </option>
          <option value="gpt-2-ggml">marella/gpt-2-ggml</option>
        </select>
      </div>

      <h2><label for="input">Prompt</label></h2>
      <textarea id="input" name="input" autofocus></textarea>
      <input id="submitButton" type="button" value="Submit" />

      <h2>Response</h2>
      <div id="outputResponse"></div>
    </main>

    <footer>Made by students of Anderson University</footer>
  </body>
</html>
