<!doctype html>
<html>
  <head>
    <title>Inferential</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="static/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon-16x16.png"
    />
    <link rel="icon" href="favicon.ico" />
    <meta name="theme-color" content="#00ff00" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="/static/data.js" defer></script>
  </head>

  <body>
    <div class="container">
      <h1>Inferential</h1>

      <div class="form-section">
        <p class="label">
          <label for="input">Prompt</label>
        </p>
        <textarea id="input" name="input" autofocus></textarea>
      </div>
      <input id="submitButton" type="button" value="Submit" />
      
      <div>
        <p class="label">Response</p>
        <div id="outputResponse" class="output">{{output}}</div>
      </div>
      
    </div>

    <div id="foot" class="footer">Made by students of Anderson University</div>
  </body>
</html>
