<!doctype html>
<html>
  <head>
    <title>Inferential - About</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if logo[0:6] == "/logos" %}
    <link rel="icon" href="{{ url_for('static', filename=logo) }}" />
    {% else %}
    <link rel="icon" type="image/png" href="{{ logo }}" class="icon" />
    {% endif %}
    <meta name="theme-color" content="#00ff00" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/status">Status</a></li>
        <li><a href="/playground">Playground</a></li>
        <a href="/">
          {% if logo[0:6] == "/logos" %}
          <img
            src="{{ url_for('static', filename=logo) }}"
            alt="logo"
            class="body_logo"
          />
          {% else %}
          <img src="{{ logo }}" alt="logo" class="body_logo" />
          {% endif %}
        </a>
      </ul>
    </nav>

    <main>
      <h1>Inferential</h1>
      <h2>About</h2>
      <p>
        Inferential is a web application that houses several large language
        models to run them locally.
      </p>
      <p>
        This project helps those at a beginner programming level understand the
        fundamentals of large language models, tokenization, and APIs. It also
        easily allows and provides an interface to load and run large language
        models locally.
        <br /><br />
        This web application follows an encoder-decoder format where a query is
        sent to the API where it will encode the query into tokens, generate a
        response in tokens, and then decode those tokens into readable text.
      </p>
      <p>
        More information and setup can be found in the
        <a href="https://github.com/jncraton/inferential">GitHub Repository</a>.
      </p>
    </main>

    <footer>Made by students of Anderson University</footer>
  </body>
</html>
