<!doctype html>
<html>
  <head>
    <title>Inferential - Status</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="static/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/favicon-16x16.png"
    />
    <link rel="icon" href="favicon.ico" />
    <meta name="theme-color" content="#00ff00" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="/static/loading.js" defer></script>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/" class="nav-active">Status</a></li>
        <li><a href="/playground">Playground</a></li>
      </ul>
    </nav>

    <main>
      <h1>Inferential</h1>
      <h2>Model Status</h2>
      <p id="status">Awaiting model status data...</p>
    </main>

    <footer>Made by students of Anderson University</footer>
  </body>
</html>
