/* Applies a common box-sizing model to all elements and defines the overall layout, styling, and responsiveness of the web page. */
/* Styling for HTML, body, main, footer, headings, form elements, and navigation, including hover and focus effects for interactive elements. */

* {
  box-sizing: border-box;
}

html {
  background-color: #e4e4e4;
  height: 100vh;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 768px;
  max-width: 100%;
  min-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main,
footer {
  padding: 0.5em 0.7em;
}

main {
  flex-grow: 1;
}

footer {
  border-top: 2px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

*:focus {
  outline-color: blue;
}

input[type='button'],
input[type='submit'] {
  background: white;
  border: 2px solid;
  font-weight: bold;
  margin: 0.2em;
  padding: 0.2em 0.7em;
  border-radius: 6px;
}

input[type='button']:not(:disabled):hover,
input[type='submit']:not(:disabled):hover {
  background: #f4f4f4;
}
input[type='button']:not(:disabled):active,
input[type='submit']:not(:disabled):active {
  background: #999999;
}
input[type='button']:focus,
input[type='submit']:focus {
  outline-offset: 3px;
}

textarea {
  width: 100%;
  resize: none;
  min-height: 5em;
  display: block;
}

textarea,
input {
  font: inherit;
}

nav {
  background-color: #ccc;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
}

nav ul li:last-child {
  margin-left: auto;
}

nav ul > li a {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 1em;
  text-decoration: none;
}

nav ul li a img {
  margin: 0 1em;
  width: 32px;
  height: 32px;
}

nav ul > li a:hover {
  background-color: #eee;
}

#loadingSpinner {
  display: inline-block;
  border: 0.17em solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  vertical-align: middle;
  animation: spin 1s linear infinite;
}

#loadingSpinner.spinner-hidden {
  /* The selector uses the element ID
  in addition to the class so that
  it has sufficient specificity. */
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#prompts {
  display: none;
}

.container {
  display: flex;
}

.left-half {
  flex: 1;
}

.right-half {
  flex: 0 0 70%;
  margin-left: 2px;
  margin-right: 8px;
  align-self: flex-end;
}
